import { defineConfig } from "vitest/config"
import tsconfigPaths from "vite-tsconfig-paths"

export default defineConfig({
  plugins: [tsconfigPaths()],
  test: {
    testTimeout: 10000,
    env: {
      OSU_API_KEY: "your_osu_api_key",
      OSU_CLIENT_ID: "your_osu_client_id",
      OSU_CLIENT_SECRET: "your_osu_client_secret",
      OSU_REDIRECT_URI: "your_osu_redirect_uri",
    },
  },
})
